body{
  font-family: cursive;
}

div#vertical_list{
  line-style: none;
  min-width: 1000px;
  padding-top: 20px;
  display: inline;
}

div#horizotal-list li{
  display: inline;
  border: none;
  border-radius: 10px;
}


ul#district_list{
  padding: 10px;
  
}

ul#district_list li{
  display: inline;
  padding-left: 5%;
}

ul#disticts{
  display: list-item;
}

.nav-bar{
  width: auto;
  height: 60px;
  -ms-text-size-adjust: auto;
  background-color: #E4F;
  text-align: right;
}
ul#nav_list{
/* min-width: 1000px; */
padding-top: 20px;
background-color: rgb(204, 247, 255);
font-size: 30px;
text-align: right;
}

ul#nav_list li{
display: inline;
padding-right: 1%;
align-items: flex-end;
}
